@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media//fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@-webkit-keyframes aniGrad {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

@keyframes aniGrad {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

:root {
  --first-color: #19c673;
  --second-color: #05a357;
  --third-color: #f6f0ea;
  --fourth-color: #7319c6;
  --fifth-color: #c67319;
  --sixth-color: #19c3c6;
  --seventh-color: #19c61d;
  --eightth-color: #c6196c;
  --white: #ffffff;
  --black: #000000;
  --grey: #eee;
  --letter-grey: #797c7e;
  --font1: Poppins;
}

* {
  font-family: var(--font1);
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
}

body {
  background-image: url("../../media/loginregister/fondo3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none !important;
}

.hide {
  display: none;
}

.flex-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.allwh, .card > .container, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container, .card > .container .front-card, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .front-card, .card > .container .front-card .container-front, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .front-card .container-front, .card > .container .reverse-card, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card, .card > .container .reverse-card .container-reverse, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse {
  height: 100%;
  width: 100%;
}

.shadow1 {
  -webkit-box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
          box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
}

.shadow1:hover {
  -webkit-box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
          box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
}

.glass, main .content-region .region-header, main .content-region .region-menu, main .content-region .region-avatar, main .content-region .region-subir-apuntes, main .content-region .region-baja, main .content-region .region-mis-apuntes, .modal-content {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass-1 {
  backdrop-filter: blur(16px) saturate(132%);
  -webkit-backdrop-filter: blur(16px) saturate(132%);
  background-color: rgba(17, 25, 40, 0.78);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass-2, .card, main .content-region .region-mis-apuntes .owl-carousel-4 .card, .card > .container .reverse-card .container-reverse, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse {
  background: rgba(255, 255, 255, 0.57);
  -webkit-backdrop-filter: blur(13px) saturate(105%);
          backdrop-filter: blur(13px) saturate(105%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.866);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn-glass, main .content-region .region-header .content-header .btn-glass, main .content-region .region-menu .content-menu .menu-info-persona .btn-glass, main .content-region .region-subir-apuntes .content-subir-apuntes .btn-glass, main .content-region .region-baja .content-baja .btn-glass {
  padding: 10px 75px;
  font-size: 18px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(83deg, #ff8f0b, #00cf9a);
  background-size: 600% 600%;
  -webkit-animation: aniGrad 8s ease infinite;
  animation: aniGrad 8s ease infinite;
}

.scale {
  -webkit-transition: 0.7s -webkit-transform;
  transition: 0.7s -webkit-transform;
  transition: 0.7s transform;
  transition: 0.7s transform, 0.7s -webkit-transform;
}

.scale:hover {
  -webkit-transition: 0.7s -webkit-transform;
  transition: 0.7s -webkit-transform;
  transition: 0.7s transform;
  transition: 0.7s transform, 0.7s -webkit-transform;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shadow2 {
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
          box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.cgradient-1 {
  background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
  background-size: 600% 600%;
  -webkit-animation: aniGrad 8s ease infinite;
  animation: aniGrad 8s ease infinite;
}

.card, main .content-region .region-mis-apuntes .owl-carousel-4 .card {
  color: #555;
  padding: 15px;
  height: 300px;
  margin: 15px;
}

.card:hover > .container .front-card, main .content-region .region-mis-apuntes .owl-carousel-4 .card:hover > .container .front-card {
  display: none;
}

.card:hover > .container .reverse-card, main .content-region .region-mis-apuntes .owl-carousel-4 .card:hover > .container .reverse-card {
  display: block;
}

.card > .container .front-card .container-front .img-apuntes, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .front-card .container-front .img-apuntes {
  width: 90%;
  overflow: hidden;
  height: 60%;
  margin: auto;
  border-radius: 8px 8px 0px 0px;
}

.card > .container .front-card .container-front .img-apuntes .container-img img, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .front-card .container-front .img-apuntes .container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card > .container .front-card .container-front .header-apuntes, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .front-card .container-front .header-apuntes {
  height: 40%;
}

.card > .container .front-card .container-front .header-apuntes .id-content, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .front-card .container-front .header-apuntes .id-content {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 15px 15px 15px;
}

.card > .container .reverse-card, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card {
  display: none;
}

.card > .container .reverse-card .container-reverse, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse {
  border-radius: 0;
}

.card > .container .reverse-card .container-reverse > .top, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse > .top {
  height: 35%;
}

.card > .container .reverse-card .container-reverse > .top .user-info, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse > .top .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.card > .container .reverse-card .container-reverse > .top .user-info .container-info, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse > .top .user-info .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.card > .container .reverse-card .container-reverse > .top .user-info .container-info .avatar-user, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse > .top .user-info .container-info .avatar-user {
  font-size: 50px;
}

.card > .container .reverse-card .container-reverse > .top .user-info .date-info, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse > .top .user-info .date-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  justify-items: flex-end;
  width: 30%;
}

.card > .container .reverse-card .container-reverse > .top .user-info .date-info .date, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse > .top .user-info .date-info .date {
  font-size: 13px;
}

.card > .container .reverse-card .container-reverse .bottom, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65%;
}

.card > .container .reverse-card .container-reverse .bottom .content-info, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse .bottom .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card > .container .reverse-card .container-reverse .bottom .buttons-actions, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse .bottom .buttons-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card > .container .reverse-card .container-reverse .bottom .buttons-actions button, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse .bottom .buttons-actions button {
  background: transparent;
}

.card > .container .reverse-card .container-reverse .bottom .buttons-actions button a, main .content-region .region-mis-apuntes .owl-carousel-4 .card > .container .reverse-card .container-reverse .bottom .buttons-actions button a {
  color: var(--white);
}

main .content-region {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 100px 225px 225px 450px;
      grid-template-rows: 100px 225px 225px 450px;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  margin: 50px;
}

@media (max-width: 1200px) {
  main .content-region {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main .content-region > div:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

main .content-region > div:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

main .content-region > div:nth-child(3) {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

main .content-region > div:nth-child(4) {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main .content-region > div:nth-child(5) {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

main .content-region > div:nth-child(6) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  grid-row: 4/4;
}

main .content-region .region-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .content-region .region-header .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .content-region .region-header .content-header .btn-glass, main .content-region .region-header .content-header .region-menu .content-menu .menu-info-persona .btn-glass, main .content-region .region-menu .content-menu .menu-info-persona .region-header .content-header .btn-glass {
  margin: 0 15px;
}

main .content-region .region-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-menu .content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-menu .content-menu .menu-info-persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-menu .content-menu .menu-info-persona #menu-info-persona {
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-menu .content-menu .menu-info-persona .div-info {
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  padding: 10px 0px 0px 0px;
  border-bottom: 2px solid grey;
}

main .content-region .region-menu .content-menu .menu-info-persona .btn-glass {
  margin: 35px 0px;
}

main .content-region .region-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .content-region .region-avatar .content-avatar .region-foto .content-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-avatar .content-avatar .region-foto .content-foto .content-img {
  position: relative;
}

main .content-region .region-avatar .content-avatar .region-foto .content-foto .content-img .add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 4px;
  top: 0;
  right: 0;
  cursor: pointer;
}

main .content-region .region-avatar .content-avatar .region-foto .content-foto .foto-perfil {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

main .content-region .region-avatar .content-avatar .region-datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 30px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .content-region .region-subir-apuntes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-subir-apuntes .content-subir-apuntes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-subir-apuntes .content-subir-apuntes .region-menu .content-menu .menu-info-persona .btn-glass, main .content-region .region-menu .content-menu .menu-info-persona .region-subir-apuntes .content-subir-apuntes .btn-glass, main .content-region .region-subir-apuntes .content-subir-apuntes .btn-glass {
  margin: 20px 0px;
}

main .content-region .region-baja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-baja .content-baja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-baja .content-baja .region-menu .content-menu .menu-info-persona .btn-glass, main .content-region .region-menu .content-menu .menu-info-persona .region-baja .content-baja .btn-glass, main .content-region .region-baja .content-baja .btn-glass {
  margin: 20px 0px;
}

main .content-region .region-mis-apuntes {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .content-region .region-mis-apuntes .content-mis-apuntes {
  width: 100%;
  height: 100%;
}

main .content-region .region-mis-apuntes .content-mis-apuntes h2 {
  padding: 0 0 0 25px;
}

.formmodal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.formmodal input {
  width: 100%;
}

.modal2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
}

.aceptarbtn {
  padding: 10px 10px 10px 10px;
  width: 50%;
  border: 0;
  text-decoration: none;
  border-radius: 6px;
  background-color: #12993ccc;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.aceptarbtn:hover {
  background-color: #0e7a30cc;
}

.grid {
  padding: 5vh 15vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px 7px;
  -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.elegiravatar {
  cursor: pointer;
}

.elegiravatar:hover {
  background-color: rgba(0, 0, 0, 0.608);
}

.elegiravatar:active {
  border: 1px solid #000;
}
/*# sourceMappingURL=styles.css.map */