@import '../base/base.scss';
///////////VARIABLES GLOBALES///////////////
$padding: 15px;
$white: #ffffff; //blanco
$black: #000000; //negro
$grey: #eee;
$letter-grey: #797c7e;
$font1: Poppins;
$grid-float-breakpoint: 1200px; //puntp de canvio en portatil pocho/tablet
$movil: 800px;
$mobil: 800px;
//////////////////////////////////////GENERAL/////////////////////////////
.glass {
    background: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(13px) saturate(105%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.866);
    transition: all 0.7s;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 40em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1.2rem;
}

.swal2-popup input {
    border: 1.2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
}

.fa-solid,
.fas {
    color: black !important;
}

@mixin flex-cv($d: row, $w: wrap) {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-flow: $d $w;
}

// .btn-glass{
//     padding: 10px 75px;
//     font-size: 18px;
//     border: 0;
//     text-decoration: none;
//     border-radius: 15px;
//     cursor: pointer;
//     background: #854ad4;
// }
// .btn-glass:hover {
//     background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
//     background-size: 600% 600%;
//     -webkit-animation: aniGrad 8s ease infinite;
//     animation: aniGrad 8s ease infinite;
// }
.cgradient-1 {
    background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
    background-size: 600% 600%;
    -webkit-animation: aniGrad 8s ease infinite;
    -moz-animation: aniGrad 8s ease infinite;
    -o-animation: aniGrad 8s ease infinite;
    animation: aniGrad 8s ease infinite;
}

main {
    .region-perfil {
        margin: 75px 0px 0px 0px;
        .content-region {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            // grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-rows: 100px 225px 225px 450px;
            grid-column-gap: 25px;
            grid-row-gap: 30px;
            margin: 50px;
            @media (max-width: $grid-float-breakpoint) {
                display: block;
                margin: 40px 10px
            }
            >div {
                margin: 15px;
                @media (min-width: $grid-float-breakpoint) {
                    &:nth-child(1) {
                        grid-column: 1/4;
                        grid-row: 1/2;
                    }
                    &:nth-child(2) {
                        grid-column: 1/2;
                        grid-row: 2/4;
                    }
                    &:nth-child(3) {
                        grid-column: 2/2;
                        grid-row: 2/4;
                    }
                    &:nth-child(4) {
                        grid-column: 3/3;
                        grid-row: 2/3;
                    }
                    &:nth-child(5) {
                        grid-column: 3/3;
                        grid-row: 3/3;
                    }
                    &:nth-child(6) {
                        grid-column: 1/4;
                        grid-row: 4/4;
                    }
                }
            }
            .region-header {
                @include flex-cv($d: row);
                @extend .glass;
                @media (max-width: $grid-float-breakpoint) {
                    padding: 15px;
                }
                .content-header {
                    @include flex-cv($d: row);
                    .btn-glass {
                        @extend .btn-glass;
                        margin: 0 15px;
                    }
                }
            }
            .region-menu {
                @include flex-cv($d: column);
                @extend .glass;
                .content-menu {
                    @include flex-cv($d: column);
                    .menu-info-persona {
                        @include flex-cv($d: column);
                        #menu-info-persona {
                            padding: 0px 50px;
                            @include flex-cv($d: column);
                        }
                        .div-info {
                            margin: 0px 15px;
                            @include flex-cv($d: column);
                            width: 100%;
                            padding: 10px 0px 0px 0px;
                            border-bottom: 2px solid grey;
                        }
                        .btn-glass {
                            @extend .btn-glass;
                            margin: 35px 0px;
                        }
                    }
                }
            }
            .region-avatar {
                @include flex-cv($d: row);
                @extend .glass;
                .content-avatar {
                    .region-foto {
                        .content-foto {
                            @include flex-cv($d: column);
                            .content-img {
                                position: relative;
                                .add-button {
                                    @include flex-cv();
                                    position: absolute;
                                    width: 35px;
                                    height: 35px;
                                    background: #fff;
                                    border-radius: 4px;
                                    top: 0;
                                    right: 0;
                                    cursor: pointer;
                                }
                            }
                            .foto-perfil {
                                width: 250px;
                                height: 250px;
                                border-radius: 10px;
                            }
                        }
                    }
                    .region-datos {
                        @include flex-cv($d: row);
                        margin: 30px 0;
                        justify-content: space-around;
                    }
                }
            }
            .region-subir-apuntes {
                @include flex-cv($d: column);
                @extend .glass;
                .content-subir-apuntes {
                    @include flex-cv($d: column);
                    .btn-glass {
                        @extend .btn-glass;
                        margin: 20px 0px;
                    }
                }
            }
            .region-baja {
                @include flex-cv($d: column);
                @extend .glass;
                .content-baja {
                    @include flex-cv($d: column);
                    .btn-glass {
                        @extend .btn-glass;
                        margin: 20px 0px;
                    }
                }
            }
            .region-mis-apuntes {
                padding: 15px;
                @include flex-cv($d: column);
                @extend .glass;
                .content-mis-apuntes {
                    width: 100%;
                    height: 100%;
                    h2 {
                        padding: 0 0 0 25px;
                    }
                }
                .owl-carousel-4 {
                    .card {
                        @extend .card;
                    }
                }
            }
        }
    }
}

//MODAL ------------------------------------------------------------------
.modal-content-avatar {
    @extend .modal-content;
    text-align: center;
    display: flex;
    text-align: center;
    flex-flow: column;
    @extend .glass;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
        margin: auto;
        border: 1px solid #888;
        width: 40%;
        height: 89%;
        @extend .glass;
        .avatar-content {
            width: 100%;
            height: 100%;
            @extend .flex-cv;
        }
        .contenido-modal {
            width: 100%;
            height: 100%;
            .formmodal {
                width: 100%;
                height: 100%;
                @include flex-cv($d: column);
                input {
                    width: 40%;
                    height: 50px;
                    margin: 10px 0px;
                    font-size: 18px;
                    outline: none;
                    text-align: center;
                }
            }
        }
    }
}

.aceptarbtn {
    padding: 10px 10px 10px 10px;
    width: 50%;
    border: 0;
    text-decoration: none;
    border-radius: 6px;
    background-color: #12993ccc;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.aceptarbtn:hover {
    background-color: #0e7a30cc;
}

.grid {
    padding: 5vh 15vh;
    display: -ms-grid;
    display: grid;
    grid-gap: 15px 7px;
    -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.elegiravatar {
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.608);
    }
}

.elegiravatar:active {
    border: 1px solid #000;
}

.username,
.avatarimg {
    cursor: pointer;
}