@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@-webkit-keyframes movi {
  0% {
    left: 1.5vw;
  }
  50% {
    left: 0vw;
  }
  100% {
    left: 1.5vw;
  }
}

@keyframes movi {
  0% {
    left: 1.5vw;
  }
  50% {
    left: 0vw;
  }
  100% {
    left: 1.5vw;
  }
}

@-webkit-keyframes agrandar {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

@keyframes agrandar {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

.animationbounce {
  -webkit-animation: agrandar 2s ease infinite;
  animation: agrandar 2s ease infinite;
  position: relative;
}

.glass2, .login-page main .region .glassland, .registro-page main .region .glassland {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glassbtn, .login-page main .region1 .content-region .glassland .content-glassland .login-content-glassland .login-btn-absglass, .registro-page main .region1 .content-region .glassland .content-glassland .registro-content-glassland .login-btn-absglass {
  padding: 10px 10px 10px 10px;
  width: 100%;
  float: left;
  border: 0;
  text-decoration: none;
  border-radius: 6px;
  background-color: #12993ccc;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glassbtn:hover, .login-page main .region1 .content-region .glassland .content-glassland .login-content-glassland .login-btn-absglass:hover, .registro-page main .region1 .content-region .glassland .content-glassland .registro-content-glassland .login-btn-absglass:hover {
  background-color: #0e7a30cc;
}

.hide {
  display: none;
}

.flex, .iconoanimacion, .login-page main .region1 .content-region, .login-page main .region1 .content-region .glassland .content-glassland, .registro-page main .region .glassland .content-glassland, .registro-page main .region1 .content-region, .registro-page main .region1 .content-region .glassland .content-glassland {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.iconoanimacion {
  position: relative;
  width: 100px;
  margin: auto;
  height: 100px;
}

:root {
  --first-color: #19c673;
  --second-color: #05a357;
  --third-color: #f6f0ea;
  --fourth-color: #7319c6;
  --fifth-color: #c67319;
  --sixth-color: #19c3c6;
  --seventh-color: #19c61d;
  --eightth-color: #c6196c;
  --white: #ffffff;
  --black: #000000;
  --grey: #eee;
  --letter-grey: #797c7e;
  --font1: Poppins;
}

html {
  min-height: 100%;
  position: relative;
}

* {
  font-family: var(--font1);
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.inputbtn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 10px;
}

.inputbtn-selec {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 20px;
  cursor: pointer;
}

.inputbtn-selec:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  width: 100%;
  border: 1px solid #2d2d2d;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #dddddd;
}

.inputbtn-selec2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 0px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.imginputbtn {
  position: absolute;
  right: 10px;
  top: 12px;
}

.pizq {
  float: left;
}

.pder {
  float: right;
}

.alienarleft {
  float: left;
  padding: 0px 10px 5px 7px;
}

.alienarright {
  float: right;
  padding: 0px 0px 30px 0px;
}

.imgredondeada {
  border-radius: 12px;
}

.imgredondeada2 {
  float: right;
  margin-left: 198px;
  padding-right: 80px;
}

.menudos {
  float: left;
  padding: 10px;
}

.menuuno {
  float: left;
  padding: 10px 10px 10px 10px;
  grid-column-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.errortext {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  float: left;
  padding-bottom: 5px;
}

.one-column {
  width: 100%;
  padding-bottom: 10px;
}

.boton-entrar {
  padding-bottom: 45px;
}

.formulario-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.formulario2-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.botones-redes a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.icono-socialmedia {
  width: 100%;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.aceptarbtn {
  padding: 10px 10px 10px 10px;
  width: 50%;
  border: 0;
  text-decoration: none;
  border-radius: 6px;
  background-color: #12993ccc;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.aceptarbtn:hover {
  background-color: #0e7a30cc;
}

.grid {
  padding: 5vh 15vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px 7px;
  -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.elegiravatar {
  cursor: pointer;
}

.elegiravatar:hover {
  background-color: rgba(0, 0, 0, 0.608);
}

.elegiravatar:active {
  border: 1px solid #000;
}

h1 {
  font-family: var(--font1);
  font-size: calc(48px + 1vw);
  font-weight: bold;
}

h2 {
  font-family: var(--font1);
  font-size: calc(18px + 1vw);
  font-weight: 600;
}

h3 {
  font-family: var(--font1);
  font-size: calc(18px + 0.5vw);
  font-weight: bold;
}

h4 {
  font-family: var(--font1);
  font-size: calc(18px + 0.1vw);
  font-weight: bold;
}

@media (max-width: 1200px) {
  .login-page main {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .login-page main .region1 {
    padding: 5% 0% 5% 10%;
  }
}

.login-page main .region1 .content-region {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1200px) {
  .login-page main .region1 .content-region {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.login-page main .region1 .content-region .glassland .content-glassland .login-content-glassland {
  padding: calc(20px + 0.5vh) calc(15px + 1vw);
}

.login-page main .region1 .content-region .glassland .content-glassland .login-content-glassland .inputbtn::-webkit-input-placeholder {
  font-family: "Font Awesome\ 6 pro";
}

.login-page main .region1 .content-region .glassland .content-glassland .login-content-glassland .inputbtn:-ms-input-placeholder {
  font-family: "Font Awesome\ 6 pro";
}

.login-page main .region1 .content-region .glassland .content-glassland .login-content-glassland .inputbtn::-ms-input-placeholder {
  font-family: "Font Awesome\ 6 pro";
}

.login-page main .region1 .content-region .glassland .content-glassland .login-content-glassland .inputbtn::placeholder {
  font-family: "Font Awesome\ 6 pro";
}

@media (max-width: 1200px) {
  .login-page main .region1 .content-region .imagenrelleno {
    display: none;
  }
}

.login-page main .botones-redes a {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
  padding-top: 10px;
}

.login-page main .redes-sociales {
  padding: 80px 0px 30px 0px;
}

@media (min-width: 1200px) {
  .registro-page main .region1 {
    padding: 5% 0% 5% 10%;
  }
}

.registro-page main .region1 .content-region {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1200px) {
  .registro-page main .region1 .content-region {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.registro-page main .region1 .content-region .glassland .content-glassland .registro-content-glassland {
  padding: calc(20px + 0.5vh) calc(15px + 1vw);
}

@media (max-width: 1200px) {
  .registro-page main .region1 .content-region .imagenrelleno {
    display: none;
  }
}

.registro-page main .botones-redes a {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 8px;
  margin-top: 20px;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

.registro-page main .alienar-2 {
  padding: 80px 0px 20px 0px;
}
/*# sourceMappingURL=loginregistro.css.map */