@import '../base/base.scss';
.imgavatar {
    width: 100px;
    height: 100px;
}

.input-editar {
    margin: 10px;
}

.close {
    font-size: 40px !important;
}

.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: auto;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1.75rem !important;
}

.input-editar-admin {
    border: 1.2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
}

.zonaadmin {
    main {
        .region {
            width: 100%;
            @include flex-cv($d: column);
            .glassland {
                @extend .glass-admin;
                .content-glassland {}
            }
        }
        .region1 {
            margin: 50px 0px 0px 0px;
            .menu-admin {
                @include flex-cv($d: column);
                .content-menu-admin {
                    .filtrador {
                        margin-top: 50px;
                        width: 50%;
                    }
                    .boton-menu-admin {
                        width: 25%;
                        height: 40px;
                        border-radius: 7px;
                        border-color: rgb(0, 0, 0);
                        background-color: rgb(22, 133, 0);
                        font-size: 16px;
                        font-weight: 500;
                        text-align: center;
                        transition: all 0.5s ease;
                        position: relative;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        outline: none;
                    }
                    .boton-tabla {
                        width: 5%;
                        height: 30px;
                        border-radius: 7px;
                        border-color: rgb(0, 0, 0);
                        background-color: rgb(22, 133, 0);
                        font-size: 10px;
                        font-weight: 500;
                        float: left;
                        transition: all 0.5s ease;
                        position: relative;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        outline: none;
                    }
                }
            }
        }
        .region2 {
            margin-top: 30px;
            .content-region {
                .glassland {
                    .content-glassland {
                        //@include flex-cv($d: column);
                        width: 100%;
                        .admin-content-glassland {
                            width: 90vw;
                            .boton-menu {
                                width: 25%;
                                height: 45px;
                                border-radius: 7px;
                                border-color: cadetblue;
                                background-color: white;
                                font-size: 18px;
                                font-weight: 500;
                                transition: all 0.5s ease;
                                position: relative;
                                margin-bottom: 10px;
                                margin-top: 10px;
                                outline: none;
                            }
                            .boton-volver {
                                color: white;
                                background-color: rgb(15, 91, 255);
                                float: right;
                                margin: 5px;
                                padding: 6px 12px;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 1.42857143;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: middle;
                                -ms-touch-action: manipulation;
                                touch-action: manipulation;
                                cursor: pointer;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                background-image: none;
                                border: 1px solid transparent;
                                border-radius: 4px;
                                &:hover {
                                    background-color: rgb(10, 69, 197);
                                }
                            }
                            .tablas {
                                .table th,
                                .table td,
                                .table tr {
                                    border-top: none !important;
                                    text-align: center;
                                    vertical-align: middle;
                                }
                                .table th {
                                    font-weight: bold !important;
                                }
                                .content-tablas {
                                    .content {
                                        padding: 50px
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}