///////////CLASES GLOBALES///////////
.glass-2 {
    backdrop-filter: blur(10px) saturate(105%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: #a3a8b062;
    //background: rgba(255, 255, 255, 0.57);
    border-radius: 12px;
    //border: 1px solid rgba(255, 255, 255, 0.125);
    border: 1px solid rgba(255, 255, 255, 0.866);
}

.glass-admin {
    backdrop-filter: blur(300px) saturate(50%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: #a3a8b062;
    border-radius: 12px;
}

.glass-5 {
    background: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(13px) saturate(105%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.866);
    transition: all 0.7s;
}

.glass-saturate {
    @extend .glass-5;
    background: rgba(255, 255, 255, 0.445) !important;
    //background: transparent !important;
}

.allwh {
    height: 100%;
    width: 100%;
}

@mixin flex-cv($d: row, $w: wrap) {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-flow: $d $w;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}