@import '../base/base.scss';
.glassbtn {
    padding: 10px 10px 10px 10px;
    width: 100%;
    float: left;
    border: 0;
    text-decoration: none;
    border-radius: 6px;
    background-color: #12993ccc;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.glassbtn:hover {
    background-color: #0e7a30cc;
}

.inputbtn {
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 10px;
}

.inputbtn-selec {
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
        box-sizing: border-box;
        padding: 10px 30px 10px 10px;
        width: 100%;
        border: 1px solid rgb(45, 45, 45);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        margin-bottom: 20px;
        cursor: pointer;
        background-color: rgb(221, 221, 221);
    }
}

.inputbtn-selec2 {
    box-sizing: border-box;
    padding: 10px 30px 10px 0px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.imginputbtn {
    position: absolute;
    right: 10px;
    top: 12px;
}

.pizq {
    float: left;
    @media (max-width: 600px) {
        font-size: 15px;
    }
}

.pizq2 {
    float: left;
    @media (max-width: 600px) {
        font-size: 10px;
    }
}

.pder {
    float: right;
}

.alienarleft {
    float: left;
    padding: 40px 10px 5px 7px;
}

.alienarright {
    float: right;
    padding: 0px 0px 30px 0px;
}

.imgredondeada {
    border-radius: 12px;
}

.imgredondeada2 {
    float: right;
    margin-left: 198px;
    padding-right: 80px;
}

.menudos {
    //width: 45.8%;
    float: left;
    padding: 10px;
}

.menuuno {
    //width: 94%;
    float: left;
    padding: 10px 10px 10px 10px;
    grid-column-end: 3;
    grid-column-start: 1;
}

.menuuno2 {
    width: 100%;
    float: left;
    padding: 10px 10px 10px 10px;
}

.errortext {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    float: left;
    padding-bottom: 5px;
}

.one-column {
    width: 100%;
    padding-bottom: 10px;
}

.formulario-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

//MODAL ------------------------------------------------------------------
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.aceptarbtn {
    padding: 10px 10px 10px 10px;
    width: 50%;
    border: 0;
    text-decoration: none;
    border-radius: 6px;
    background-color: #12993ccc;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.aceptarbtn:hover {
    background-color: #0e7a30cc;
}

.grid {
    padding: 5vh 15vh;
    display: -ms-grid;
    display: grid;
    grid-gap: 15px 7px;
    -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.elegiravatar {
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.608);
    }
}

.elegiravatar:active {
    border: 1px solid #000;
}

.login-page {
    main {
        height: calc(100vh - 105px);
        @media(max-width: $grid-float-breakpoint) {
            height: 100%;
        }
        .region {
            .glassland {
                @extend .glass-2;
                .content-glassland {
                    @extend .flex;
                }
            }
        }
        .region1 {
            @media(min-width: $grid-float-breakpoint) {
                padding: 0% 0% 5% 10%;
            }
            .content-region {
                @include flex-cv($d: row);
                justify-content: space-around;
                @media(max-width: $grid-float-breakpoint) {
                    //flex-flow: column;
                    justify-content: center;
                }
                .glassland {
                    .content-glassland {
                        @extend .flex;
                        .login-content-glassland {
                            padding: calc(20px + 0.5vh) calc(15px + 1vw);
                            .inputbtn {
                                &::placeholder {
                                    font-family: "Font Awesome\ 6 pro";
                                }
                            }
                            .login-btn-absglass {}
                        }
                    }
                }
                @media(max-width: $grid-float-breakpoint) {
                    .imagenrelleno {
                        display: none;
                    }
                }
            }
        }
    }
}

.registro-page {
    main {
        height: calc(100vh - 105px);
        .region {
            .glassland {
                @extend .glass-2;
                .content-glassland {
                    //@include flex-cv($d: column);
                    @include flex-cv($d: column);
                }
            }
        }
        .region1 {
            @media(min-width: $grid-float-breakpoint) {
                padding: 5% 0% 5% 10%;
            }
            .content-region {
                @extend .flex;
                justify-content: space-around;
                @media(max-width: $grid-float-breakpoint) {
                    flex-flow: column;
                    justify-content: center;
                }
                .glassland {
                    .content-glassland {
                        @extend .flex;
                        .registro-content-glassland {
                            padding: calc(20px + 0.5vh) calc(10px + 1vw);
                            .login-btn-absglass {}
                        }
                    }
                }
                @media(max-width: $grid-float-breakpoint) {
                    .imagenrelleno {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width:600px) {
.pizq{
    font-size: 15px;
}
.pizq2{
    font-size: 10px;
}
}