@import '../base/base.scss';
.titulo-coment {
    padding: 30px 0px 80px 0px;
}

.titulo2-coment {
    padding: 80px 0px 40px 0px;
}

textarea {
    resize: none;
    padding: 5px;
    font-size: 16px;
    width: 90%;
    border: solid 1px black;
    border-radius: 5px;
}

.comentar-apunte-box {
    width: 100%;
    float: left;
}

.comentar-apunte {
    width: 33.33%;
    float: left;
}

.comentario-texto {
    padding-bottom: 50px;
}

.comentario-box {
    width: 100%;
}

.comentario-imagen-box {
    padding: 10px 0px 10px 0px;
}

.comentario-imagen-usuario {
    width: 50px;
    //height: 50px;
    border-radius: 3px;
}


/*ESTRELLAS*/

[dir="rtl"] .rating {
    --dir: left;
}

.rating-label,
.rating {
    //padding: 0px 0px 0px 55px;
    //display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.rating-label {
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
    .rating {
        --dir: right;
        --fill: gold;
        --fillbg: rgba(173, 173, 173, 0.329);
        --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
        --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
        --stars: 5;
        --starsize: 3rem;
        --symbol: var(--star);
        --value: 1;
        --w: calc(var(--stars) * var(--starsize));
        --x: calc(100% * (var(--value) / var(--stars)));
        block-size: var(--starsize);
        inline-size: var(--w);
        position: relative;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-appearance: none;
        background: transparent;
        &::moz-range-track {
            background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
            block-size: 100%;
            mask: repeat left center/var(--starsize) var(--symbol);
        }
        &::-moz-range-thumb {
            height: var(--starsize);
            opacity: 0;
            width: var(--starsize);
        }
        &::-webkit-slider-runnable-track {
            background: "-webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)))";
            background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
            block-size: 100%;
            mask: repeat left center/var(--starsize) var(--symbol);
            -webkit-mask: repeat left center/var(--starsize) var(--symbol);
        }
        &::-webkit-slider-thumb {
            height: var(--starsize);
            opacity: 0;
            width: var(--starsize);
            -webkit-appearance: none;
        }
    }
}

.rating-small {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 1.8rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-appearance: none;
    background: transparent;
    &::moz-range-track {
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
    }
    &::-moz-range-thumb {
        height: var(--starsize);
        opacity: 0;
        width: var(--starsize);
    }
    &::-webkit-slider-runnable-track {
        background: "-webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)))";
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
        -webkit-mask: repeat left center/var(--starsize) var(--symbol);
    }
    &::-webkit-slider-thumb {
        height: var(--starsize);
        opacity: 0;
        width: var(--starsize);
        -webkit-appearance: none;
    }
}

.vista-apuntes {
    main {
        //margin: 2% 0% 0% 0%;
        width: 100%;
        .region {
            .glassland {
                @extend .glass-5;
            }
        }
        .region1 {
            .content-region {
                width: 100%;
                .apuntes {
                    width: 100%;
                    @extend .flex;
                    .content-apuntes {
                        width: 100%;
                        iframe {
                            //width: 1280px;
                            width: 90%;
                            height: 600px;
                            border-radius: 10px;
                        }
                    }
                }
                .acciones {
                    padding: 60px 0px 85px 0px;
                    @extend .flex;
                    .content-acciones {
                        width: 100%;
                        //padding: 4vh 48vh;
                        display: -ms-grid;
                        display: grid;
                        grid-gap: 40px 0px;
                        -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
                        grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
                        @media (max-width: 1200px) {
                            grid-template-columns: inherit;
                        }
                        //grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
                    }
                }
            }
        }
        .region2 {
            padding-bottom: 60px;
            @include flex-cv($d: column);
            .content-region {
                //width: auto;
                //@extend .flex;
                width: 90%;
                .glassland {
                    @include flex-cv($d: column);
                    .crearcomentario-content-glassland {
                        width: 100%;
                        text-align: center;
                    }
                    .comentario-content-glassland {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

//////////////////////////////////RESPONISVE//////////////////////////
@media (max-width:1200px) {
    .rating-label,
    .rating {
        //padding: 0px 0px 0px 10vw;
        padding: auto;
    }
    .imagen-apuntes {
        width: 90%;
    }
    .comentar-apunte {
        width: 100%;
    }
}

//////////////////////////////
@media (max-width:600px) {
    //<!—- Aquí van todos los estilos CSS -->
}

/////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////
///////////////