@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../media/aboutus/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../media/aboutus/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

.glass {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass2, .vista-apuntes main .region .glassland {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.flex, .vista-apuntes main .region .glassland .content-glassland, .vista-apuntes main .region .content-region .apuntes, .vista-apuntes main .region .content-region .acciones, .vista-apuntes main .region2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

@-webkit-keyframes aniGrad {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

@keyframes aniGrad {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

.btn-glass {
  margin: 10px 0px 0px 0px;
  padding: 20px 75px;
  font-size: 17px;
  border: 1px solid rgba(77, 77, 77, 0.144);
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(83deg, #ff8f0b, #00cf9a);
  background-size: 600% 600%;
  -webkit-animation: aniGrad 8s ease infinite;
  animation: aniGrad 8s ease infinite;
}

.btn-glass2 {
  margin: 15px 0px 0px 0px;
  padding: 15px 60px;
  font-size: 17px;
  border: 1px solid rgba(77, 77, 77, 0.144);
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #000000;
  color: white;
}

.btn-glass2:hover {
  background: linear-gradient(83deg, #333837, #727272);
  background-size: 600% 600%;
  -webkit-animation: aniGrad 8s ease infinite;
  animation: aniGrad 8s ease infinite;
}

.absglass {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  position: absolute;
}

:root {
  --first-color: #19c673;
  --second-color: #05a357;
  --third-color: #f6f0ea;
  --fourth-color: #7319c6;
  --fifth-color: #c67319;
  --sixth-color: #19c3c6;
  --seventh-color: #19c61d;
  --eightth-color: #c6196c;
  --white: #ffffff;
  --black: #000000;
  --grey: #eee;
  --letter-grey: #797c7e;
  --font1: Poppins;
}

* {
  font-family: var(--font1);
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.menu {
  width: 100%;
  padding: 20px 0px 90px 0px;
  text-align: center;
}

.comentario {
  width: 95%;
  margin: 20px;
}

.titulo-coment {
  text-align: left;
  margin: 30px 0px 20px 35px;
}

.texto-coment {
  text-align: left;
  padding-bottom: 30px;
}

.nota-resta {
  padding-top: 57px;
  width: 100%;
}

.crear-coment {
  width: 33.33%;
  float: left;
}

textarea {
  resize: none;
  padding: 5px;
  font-size: 16px;
}

h1 {
  font-family: var(--font1);
  font-size: calc(48px + 1vw);
  font-weight: bold;
}

h2 {
  font-family: var(--font1);
  font-size: calc(18px + 1vw);
  font-weight: 600;
}

h3 {
  font-family: var(--font1);
  font-size: calc(18px + 0.5vw);
  font-weight: bold;
}

h4 {
  font-family: var(--font1);
  font-size: calc(18px + 0.1vw);
  font-weight: bold;
}

.vista-apuntes main {
  background-image: url("../../media/vistaapuntes/fondo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*ESTRELLAS*/
}

.vista-apuntes main .region {
  margin: 2% 0% 0% 0%;
  width: 100%;
}

.vista-apuntes main .region .content-region {
  width: 100%;
}

.vista-apuntes main .region .content-region .apuntes {
  width: 100%;
}

.vista-apuntes main .region .content-region .apuntes .content-apuntes {
  width: 100%;
}

.vista-apuntes main .region .content-region .apuntes .content-apuntes iframe {
  width: 1280px;
  height: 600px;
  border-radius: 10px;
}

.vista-apuntes main .region .content-region .acciones .content-acciones {
  width: 100%;
  padding: 4vh 48vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 0px 0px;
  -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
}

.vista-apuntes main .region .content-region .acciones .content-acciones .btn-acciones {
  margin: 10px 0px 0px 0px;
  padding: 24px 32px;
  font-size: 20px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
  background-size: 600% 600%;
  -webkit-animation: aniGrad 8s ease infinite;
  animation: aniGrad 8s ease infinite;
}

.vista-apuntes main .region2 {
  padding: 0px 0px 60px 90px;
  width: 90%;
}

.vista-apuntes main .region2 .content-region .glassland .content-glassland .crearcomentario-content-glassland {
  width: 80vw;
  padding: 20px;
}

.vista-apuntes main .region2 .content-region .glassland .content-glassland .comentario-content-glassland {
  padding: 20px;
}

.vista-apuntes main [dir="rtl"] .rating {
  --dir: left;
}

.vista-apuntes main .rating-label,
.vista-apuntes main .rating {
  padding: 0px 20px 0px 15px;
  float: left;
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.vista-apuntes main .rating-label {
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem;
}

.vista-apuntes main .rating-label .rating {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-appearance: none;
  background: transparent;
}

.vista-apuntes main .rating-label .rating::moz-range-track {
  background: -webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)));
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
          mask: repeat left center/var(--starsize) var(--symbol);
}

.vista-apuntes main .rating-label .rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}

.vista-apuntes main .rating-label .rating::-webkit-slider-runnable-track {
  background: "-webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)))";
  background: -webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)));
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}

.vista-apuntes main .rating-label .rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}

.vista-apuntes main .rating-label .rating-small {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 1.8rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-appearance: none;
  background: transparent;
}

.vista-apuntes main .rating-label .rating-small::moz-range-track {
  background: -webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)));
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
          mask: repeat left center/var(--starsize) var(--symbol);
}

.vista-apuntes main .rating-label .rating-small::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}

.vista-apuntes main .rating-label .rating-small::-webkit-slider-runnable-track {
  background: "-webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)))";
  background: -webkit-gradient(linear, , color-stop(0, var(--fill)), color-stop(0, var(--fillbg)));
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}

.vista-apuntes main .rating-label .rating-small::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
/*# sourceMappingURL=vistaapuntes.css.map */