.glass-5 {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass, .about-us main .carta, .about-us main .carta-explicacion {
  background: rgba(255, 255, 255, 0.57);
  -webkit-backdrop-filter: blur(13px) saturate(105%);
          backdrop-filter: blur(13px) saturate(105%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.866);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.flex-cv, .about-us main .region, .about-us main .region2 .content-region .explicacion, .about-us main .region2 .content-region .explicacion .content-explicacion .preguntas .carta1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about-us main .region {
  width: 100%;
  text-align: center;
}

.about-us main .carta {
  width: 100%;
  padding: 35px 0px 20px 0px;
}

.about-us main .carta-explicacion {
  width: 100%;
  padding: 10px;
}

.about-us main .img-david {
  width: 300px;
  height: 100%;
}

.about-us main .img-marc {
  width: 255px;
  height: 100%;
}

.about-us main .img-isaac {
  width: 300px;
  height: 100%;
}

.about-us main .img-xavi {
  width: 300px;
  height: 100%;
}

.about-us main .img-miguel {
  width: 300px;
  height: 100%;
}

.about-us main .img-raul {
  width: 300px;
  height: 100%;
}

.about-us main .icono-carta {
  width: 90px;
  height: 90px;
}

.about-us main .region1 {
  margin: 80px 0px 0px 0px;
}

.about-us main .region1 .content-region {
  width: 100%;
}

.about-us main .region1 .content-region .presentacion .content-presentacion .alineacion {
  margin: 26px 0px 0px 0px;
  padding: 10vh 11vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 136px 112px;
  -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
}

.about-us main .region1 .content-region .presentacion .content-presentacion .alineacion .cartadavid {
  padding: 100px 0px 0px 0px;
}

.about-us main .region1 .content-region .presentacion .content-presentacion .alineacion .cartamarc {
  padding: 100px 0px 0px 0px;
}

.about-us main .region1 .content-region .presentacion .content-presentacion .alineacion .cartaisaac {
  padding: 140px 0px 0px 0px;
}

.about-us main .region1 .content-region .presentacion .content-presentacion .alineacion .cartaraul {
  padding: 30px 0px 0px 0px;
}

.about-us main .region1 .content-region .presentacion .content-presentacion .alineacion .cartamiguel {
  padding: 50px 0px 0px 0px;
}

.about-us main .region1 .content-region .presentacion .content-presentacion .alineacion .cartaxavi {
  padding: 105px 0px 0px 0px;
}

.about-us main .region2 {
  margin: 80px 0px 0px 0px;
}

.about-us main .region2 .content-region {
  width: 100%;
}

.about-us main .region2 .content-region .explicacion {
  width: 100%;
}

.about-us main .region2 .content-region .explicacion .content-explicacion .preguntas {
  margin: 26px 0px 0px 0px;
  padding: 8vh 11vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px 68px;
  -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
}

.about-us main .region2 .content-region .explicacion .content-explicacion .preguntas .carta1 {
  padding: 23px 23px 23px 23px;
}

.about-us main .region2 .content-region .explicacion .content-explicacion .preguntas .carta2 {
  padding: 23px 23px 23px 23px;
}

.about-us main .region2 .content-region .explicacion .content-explicacion .preguntas .carta3 {
  padding: 23px 23px 23px 23px;
}
/*# sourceMappingURL=aboutus.css.map */