///////////VARIABLES GLOBALES///////////////

$padding: 15px;
$white: #ffffff; //blanco
$black: #000000; //negro
$grey: #eee;
$letter-grey: #797c7e;
$font1: Poppins;
$grid-float-breakpoint: 1200px; //puntp de canvio en portatil pocho/tablet
$movil: 800px;
$mobil: 800px;

///////////CLASES GLOBALES///////////
.glass-5 {
    backdrop-filter: blur(10px) saturate(105%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: #a3a8b062;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.glass {
    background: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(13px) saturate(105%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.866);
    transition: all 0.7s;
}
.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
}

///////////ESTILOS PAGINA///////////
.about-us {
    main {
        .region {
            @extend .flex-cv;
            width: 100%;
            text-align: center;
        }
        .carta {
            @extend .glass;
            width: 100%;
            padding: 35px 0px 20px 0px;
        }
        .carta-explicacion {
            @extend .glass;
            width: 100%;
            padding: 10px;
        }
        .img-david{
            width: 300px;
            height:100%;
        }
        .img-marc{
            width: 255px;
            height:100%;
        }
        .img-isaac{
            width: 300px;
            height:100%;
        }
        .img-xavi{
            width: 300px;
            height:100%;
        }
        .img-miguel{
            width: 300px;
            height:100%;
        }
        .img-raul{
            width: 300px;
            height:100%;
        }
        .icono-carta {
            width: 90px;
            height: 90px;
        }
        .region1 {
            margin: 80px 0px 0px 0px;
            .content-region {
                width: 100%;
                .presentacion {
                    .content-presentacion {
                        .alineacion {
                            margin: 26px 0px 0px 0px;
                            padding: 10vh 11vh;
                            display: -ms-grid;
                            display: grid;
                            grid-gap: 136px 112px;
                            -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
                            grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
                            .cartadavid{
                                padding: 100px 0px 0px 0px;
                            }
                            .cartamarc{
                                padding: 100px 0px 0px 0px;
                            }
                            .cartaisaac{
                                padding: 140px 0px 0px 0px;
                            }
                            .cartaraul{
                                padding: 30px 0px 0px 0px;
                            }
                            .cartamiguel{
                                padding: 50px 0px 0px 0px;
                            }
                            .cartaxavi{
                                padding: 105px 0px 0px 0px;
                            }
                        }
                    }
                }
            }
        }
        .region2 {
            margin: 80px 0px 0px 0px;
            .content-region {
                width: 100%;
                .explicacion {
                    @extend .flex-cv;
                    width: 100%;
                    .content-explicacion {
                        .preguntas {
                            margin: 26px 0px 0px 0px;
                            padding: 8vh 11vh;
                            display: -ms-grid;
                            display: grid;
                            grid-gap: 15px 68px;
                            -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
                            grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
                            .carta1 {
                                padding: 23px 23px 23px 23px;
                                @extend .flex-cv;
                                
                            }
                            .carta2 {
                                padding: 23px 23px 23px 23px;
                            }
                            .carta3 {
                                padding: 23px 23px 23px 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}