@import '../base/base.scss';
///////////VARIABLES GLOBALES///////////////
$padding: 15px;
$white: #ffffff; //blanco
$black: #000000; //negro
$grey: #eee;
$letter-grey: #797c7e;
$font1: Poppins;
$grid-float-breakpoint: 1200px; //puntp de canvio en portatil pocho/tablet
$movil: 800px;
$mobil: 800px;
///////////ESTILOS PAGINA///////////
.about-us {
    main {
        .region {
            @extend .flex;
            width: 100%;
            text-align: center;
        }
        .carta {
            @extend .glass-5;
            width: 100%;
            padding: 35px 0px 20px 0px;
        }
        .carta-explicacion {
            @extend .glass-5;
            width: 100%;
            padding: 10px;
        }
        .img-david {
            width: 300px;
            height: 100%;
        }
        .img-marc {
            width: 255px;
            height: 100%;
        }
        .img-isaac {
            width: 300px;
            height: 100%;
        }
        .img-xavi {
            width: 300px;
            height: 100%;
        }
        .img-miguel {
            width: 300px;
            height: 100%;
        }
        .img-raul {
            width: 300px;
            height: 100%;
        }
        .icono-carta {
            width: 90px;
            height: 90px;
        }
        .region1 {
            margin: 80px 0px 0px 0px;
            .content-region {
                width: 100%;
                .presentacion {
                    .content-presentacion {
                        .alineacion {
                            margin: 26px 0px 0px 0px;
                            padding: 10vh 11vh;
                            display: -ms-grid;
                            display: grid;
                            grid-gap: 136px 112px;
                            -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
                            grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
                            .cartadavid {
                                padding: 100px 0px 0px 0px;
                            }
                            .cartamarc {
                                padding: 100px 0px 0px 0px;
                            }
                            .cartaisaac {
                                padding: 140px 0px 0px 0px;
                            }
                            .cartaraul {
                                padding: 30px 0px 0px 0px;
                            }
                            .cartamiguel {
                                padding: 50px 0px 0px 0px;
                            }
                            .cartaxavi {
                                padding: 105px 0px 0px 0px;
                            }
                        }
                    }
                }
            }
        }
        .region2 {
            margin: 80px 0px 0px 0px;
            .content-region {
                width: 100%;
                .explicacion {
                    @extend .flex;
                    width: 100%;
                    .content-explicacion {
                        .preguntas {
                            margin: 26px 0px 0px 0px;
                            padding: 8vh 11vh;
                            display: -ms-grid;
                            display: grid;
                            grid-gap: 15px 68px;
                            -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
                            grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
                            .carta1 {
                                padding: 23px 23px 23px 23px;
                                @extend .flex;
                            }
                            .carta2 {
                                padding: 23px 23px 23px 23px;
                            }
                            .carta3 {
                                padding: 23px 23px 23px 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1200px) {
    //<!—- Aquí van todos los estilos CSS -->
}

//////////////////////////////
@media (max-width:600px) {
    main{
        padding-top: calc(20vh - 105px);
        overflow-x: hidden;
    }
    .titulo-presentacion{
        padding:10px;
    }
    .about-us main .region1 .content-region .presentacion .content-presentacion .alineacion{
        margin: 26px 0px 0px 0px;
        padding: 0vh 0vh 10vh 0vh;
        display: -ms-grid;
        display: grid;
        grid-gap: 136px 112px;
        -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .about-us main .region2 .content-region .explicacion .content-explicacion .preguntas{
        margin: 26px 0px 0px 0px;
        padding: 8vh 0vh;
        display: -ms-grid;
        display: grid;
        grid-gap: 50px 68px;
        -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .about-us main .region2 .content-region .explicacion .content-explicacion .preguntas .carta1{
        padding: 23px 23px 23px 23px;
        width: 87%;
    }
    .about-us main .region2 .content-region .explicacion .content-explicacion .preguntas .carta2{
        padding: 23px 23px 23px 23px;
        width: 87%;
    }
    .about-us main .region2 .content-region .explicacion .content-explicacion .preguntas .carta3{
        padding: 23px 23px 23px 23px;
        width: 87%;
    }
}