@import '../base/base.scss';
///////////VARIABLES GLOBALES///////////////
@-webkit-keyframes movi {
    0% {
        left: 1.5vw;
    }
    50% {
        left: 0vw;
    }
    100% {
        left: 1.5vw;
    }
}

@keyframes movi {
    0% {
        left: 1.5vw;
    }
    50% {
        left: 0vw;
    }
    100% {
        left: 1.5vw;
    }
}

.animationbounce {
    -webkit-animation: movi 2s ease infinite;
    animation: movi 2s ease infinite;
    position: absolute;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.iconoanimacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    position: relative;
    width: 100px;
    margin: auto;
    height: 100px;
}

.landing-page {
    main {
        padding: calc(15px + 5vh);
        padding-bottom: 150px;
        .region {
            .glassland {
                width: 90%;
                @extend .glass-5;
                .content-glassland {
                    padding: 50px;
                    @extend .flex-cv;
                    text-align: center;
                }
            }
        }
        .btn-absglass {
            margin: 40px;
        }
        .region-portada {
            .absglassportada {
                width: 47%;
                left: 493px;
                top: 580px;
                position: absolute;
                height: 10%;
                @extend .flex-cv;
                @extend .glass-5;
                @media (max-width: $tablet) {
                    width: 100%;
                }
            }
            .content-region {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-line-pack: center;
                align-content: center;
                text-align: center;
                width: 100%;
                .content-video {
                    width: 100%;
                    .imagen-difuminada {
                        @media (max-width: $tablet) {
                            max-width: 250px;
                        }
                    }
                }
            }
            width: 100%;
        }
        .region1 {
            .content-region {
                .absglass1 {
                    padding: 15px;
                    width: 20%;
                    right: 216px;
                    top: 950px;
                    @media (max-width: $tablet) {
                        width: 100%;
                    }
                    .content-absglass {
                        .crearcuenta-content-absglass {
                            @extend .flex-cv;
                            text-align: center;
                            .crearcuenta-btn-absglass {
                                // margin: 10px 0px;
                                // padding: 24px 32px;
                                // font-size: 20px;
                                // border: 0;
                                // text-decoration: none;
                                // border-radius: 15px;
                                // cursor: pointer;
                                // background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
                                // background-size: 600% 600%;
                                // -webkit-animation: aniGrad 8s ease infinite;
                                // animation: aniGrad 8s ease infinite;
                            }
                        }
                    }
                }
                .glassland {
                    .content-glassland {
                        .crearcuenta-content-glassland {
                            width: 60%;
                            @media (max-width: $tablet) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            margin: 5% 0% 0% 5%;
        }
        .region2 {
            .content-region {
                .glassland {
                    .content-glassland {
                        .iniciarsesion-content-glassland {
                            width: 60%;
                            @media (max-width: $tablet) {
                                width: 100%;
                            }
                            .iniciarsesion-btn-glassland {
                                // margin: 10px 0px 0px 0px;
                                // padding: 24px 32px;
                                // font-size: 20px;
                                // border: 0;
                                // text-decoration: none;
                                // border-radius: 15px;
                                // cursor: pointer;
                                // background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
                                // background-size: 600% 600%;
                                // -webkit-animation: aniGrad 8s ease infinite;
                                // animation: aniGrad 8s ease infinite;
                                // margin: 20px;
                            }
                        }
                    }
                }
                .absglass2 {
                    width: 20%;
                    left: 230px;
                    top: 1539px;
                    padding: 15px;
                    @media (max-width: $tablet) {
                        width: 100%;
                    }
                    .content-absglass {
                        .iniciarsesion-content-absglass {
                            @extend .flex-cv;
                            text-align: center;
                            .iniciarsesion-btn-absglass {
                                // margin: 10px 0px 0px 0px;
                                // padding: 24px 32px;
                                // font-size: 20px;
                                // border: 0;
                                // text-decoration: none;
                                // border-radius: 15px;
                                // cursor: pointer;
                                // background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
                                // background-size: 600% 600%;
                                // -webkit-animation: aniGrad 8s ease infinite;
                                // animation: aniGrad 8s ease infinite;
                            }
                        }
                    }
                }
            }
            margin: 15% 0% 0% 5%;
        }
        .region3 {
            .content-region {
                .glassland {
                    .content-glassland {
                        .subirapuntes-content-glassland {
                            width: 60%;
                            @media (max-width: $tablet) {
                                width: 100%;
                            }
                            .subirapuntes-btn-glassland {
                                // margin: 10px 0px 0px 0px;
                                // padding: 24px 32px;
                                // font-size: 20px;
                                // border: 0;
                                // text-decoration: none;
                                // border-radius: 15px;
                                // cursor: pointer;
                                // background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
                                // background-size: 600% 600%;
                                // -webkit-animation: aniGrad 8s ease infinite;
                                // animation: aniGrad 8s ease infinite;
                                // margin: 20px;
                            }
                        }
                    }
                }
                .absglass3 {
                    width: 20%;
                    right: 216px;
                    top: 1995px;
                    padding: 15px;
                    @media (max-width: $tablet) {
                        width: 100%;
                    }
                    .content-absglass {
                        .subirapuntes-content-absglass {
                            @extend .flex-cv;
                            text-align: center;
                            .subirapuntes-btn-absglass {
                                // margin: 10px 0px 0px 0px;
                                // padding: 24px 32px;
                                // font-size: 20px;
                                // border: 0;
                                // text-decoration: none;
                                // border-radius: 15px;
                                // cursor: pointer;
                                // background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
                                // background-size: 600% 600%;
                                // -webkit-animation: aniGrad 8s ease infinite;
                                // animation: aniGrad 8s ease infinite;
                            }
                        }
                    }
                }
            }
            margin: 10% 0% 0% 5%;
        }
        .region4 {
            .content-region {
                .glassland {
                    .content-glassland {
                        .sabermas-content-glassland {
                            width: 60%;
                            @media (max-width: $tablet) {
                                width: 100%;
                            }
                            .sabermas-btn-glassland {
                                // margin: 10px 0px 0px 0px;
                                // padding: 24px 32px;
                                // font-size: 20px;
                                // border: 0;
                                // text-decoration: none;
                                // border-radius: 15px;
                                // cursor: pointer;
                                // background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
                                // background-size: 600% 600%;
                                // -webkit-animation: aniGrad 8s ease infinite;
                                // animation: aniGrad 8s ease infinite;
                                // margin: 20px;
                            }
                        }
                    }
                }
                .absglass4 {
                    width: 20%;
                    left: 230px;
                    top: 2485px;
                    padding: 15px;
                    @media (max-width: $tablet) {
                        width: 100%;
                    }
                    .content-absglass {
                        .sabermas-content-absglass {
                            @extend .flex-cv;
                            text-align: center;
                            .sabermas-btn-absglass {
                                // margin: 10px 0px 0px 0px;
                                // padding: 24px 32px;
                                // font-size: 20px;
                                // border: 0;
                                // text-decoration: none;
                                // border-radius: 15px;
                                // cursor: pointer;
                                // background: linear-gradient(83deg, #854ad4, #ae5acb, #ff7ab7);
                                // background-size: 600% 600%;
                                // -webkit-animation: aniGrad 8s ease infinite;
                                // animation: aniGrad 8s ease infinite;
                            }
                        }
                    }
                }
            }
            margin: 15% 0% 0% 5%;
        }
    }
}

@media (max-width:$grid-float-breakpoint) {
    //<!—- Aquí van todos los estilos CSS -->
}

//////////////////////////////
@media (max-width:$movil) {
    .landing-page main {
        //padding: 0;
        padding-top: calc(30vh - 105px);
        padding-bottom: 30px;
    }
}