@import '../base/base.scss';
.inputbtn {
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 20px;
}

.pizq {
    float: left;
}

.pder {
    float: right;
}

.alienarleft {
    float: left;
    padding: 40px 10px 5px 7px;
}

.alienarright {
    float: right;
    padding: 0px 0px 30px 0px;
}

.imgredondeada {
    border-radius: 12px;
}

.imgredondeada2 {
    float: right;
    margin-left: 198px;
    padding-right: 80px;
}

.menudos {
    width: 45.8%;
    float: left;
    padding: 10px;
}

.menuuno {
    width: 94%;
    float: left;
    padding: 10px 10px 10px 10px;
}

.errortext {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    float: left;
    padding-bottom: 5px;
}

.one-column {
    width: 100%;
    padding-bottom: 10px;
}

.cambiarpass-page {
    main {
        //@include flex-cv($d: column);
        height: 100%;
        padding-top: calc(7vh + 50px);
        @media(min-width: $grid-float-breakpoint) {
            height: 100%;
        }
        .region {
            .glassland {
                @extend .glass-2;
                .content-glassland {
                    @include flex-cv($d: column);
                }
            }
        }
        .region1 {
            @media(min-width: $grid-float-breakpoint) {
                padding: 0% 0% 5% 0%;
            }
            .content-region {
                justify-content: space-around;
                display: flex;
                flex-flow: row wrap;
                @media(max-width: $grid-float-breakpoint) {
                    //flex-flow: column;
                    justify-content: center;
                }
                .glassland {
                    .content-glassland {
                        @extend .flex;
                        .cambiarpass-content-glassland {
                            padding: calc(20px + 0.5vh) calc(15px + 1vw);
                            .inputbtn {
                                &::placeholder {
                                    font-family: "Font Awesome\ 6 pro";
                                }
                            }
                            .cambiarpass-btn-absglass {}
                        }
                    }
                }
                @media(max-width: $grid-float-breakpoint) {
                    .imagenrelleno {
                        display: none;
                    }
                }
            }
        }
    }
}

//////////////////////////////////RESPONISVE//////////////////////////
@media (max-width:1200px) {
    main {
        padding-top: calc(25vh - 105px);
    }
}

//////////////////////////////
@media (max-width:600px) {}

/////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////
///////////////