@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@-webkit-keyframes movi {
  0% {
    left: 1.5vw;
  }
  50% {
    left: 0vw;
  }
  100% {
    left: 1.5vw;
  }
}

@keyframes movi {
  0% {
    left: 1.5vw;
  }
  50% {
    left: 0vw;
  }
  100% {
    left: 1.5vw;
  }
}

@-webkit-keyframes agrandar {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

@keyframes agrandar {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

.animationbounce {
  -webkit-animation: agrandar 2s ease infinite;
  animation: agrandar 2s ease infinite;
  position: relative;
}

.glass2, .cambiarpass-page main .region .glassland {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glassbtn, .cambiarpass-page main .region1 .content-region .glassland .content-glassland .cambiarpass-content-glassland .cambiarpass-btn-absglass {
  padding: 10px 10px 10px 10px;
  width: 100%;
  float: left;
  border: 0;
  text-decoration: none;
  border-radius: 6px;
  background-color: #12993ccc;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glassbtn:hover, .cambiarpass-page main .region1 .content-region .glassland .content-glassland .cambiarpass-content-glassland .cambiarpass-btn-absglass:hover {
  background-color: #0e7a30cc;
}

.flex, .iconoanimacion, .cambiarpass-page main .region .glassland .content-glassland, .cambiarpass-page main .region1 .content-region .glassland .content-glassland {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.iconoanimacion {
  position: relative;
  width: 100px;
  margin: auto;
  height: 100px;
}

.inputbtn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 30px 6px 10px;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 20px;
}

.inputbtn-selec {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 20px;
  cursor: pointer;
}

.inputbtn-selec:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  width: 100%;
  border: 1px solid #2d2d2d;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #dddddd;
}

.imginputbtn {
  position: absolute;
  right: 10px;
  top: 12px;
}

.pizq {
  float: left;
}

.pder {
  float: right;
}

.alienarleft {
  float: left;
  padding: 40px 10px 5px 7px;
}

.alienarright {
  float: right;
  padding: 0px 0px 30px 0px;
}

.imgredondeada {
  border-radius: 12px;
}

.imgredondeada2 {
  float: right;
  margin-left: 198px;
  padding-right: 80px;
}

.menudos {
  width: 45.8%;
  float: left;
  padding: 10px;
}

.menuuno {
  width: 94%;
  float: left;
  padding: 10px 10px 10px 10px;
}

.errortext {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  float: left;
  padding-bottom: 5px;
}

.one-column {
  width: 100%;
  padding-bottom: 10px;
}

:root {
  --first-color: #19c673;
  --second-color: #05a357;
  --third-color: #f6f0ea;
  --fourth-color: #7319c6;
  --fifth-color: #c67319;
  --sixth-color: #19c3c6;
  --seventh-color: #19c61d;
  --eightth-color: #c6196c;
  --white: #ffffff;
  --black: #000000;
  --grey: #eee;
  --letter-grey: #797c7e;
  --font1: Poppins;
}

html {
  min-height: 100%;
  position: relative;
}

* {
  font-family: var(--font1);
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  font-family: var(--font1);
  font-size: calc(48px + 1vw);
  font-weight: bold;
}

h2 {
  font-family: var(--font1);
  font-size: calc(18px + 1vw);
  font-weight: 600;
}

h3 {
  font-family: var(--font1);
  font-size: calc(18px + 0.5vw);
  font-weight: bold;
}

h4 {
  font-family: var(--font1);
  font-size: calc(18px + 0.1vw);
  font-weight: bold;
}

.cambiarpass-page {
  background-image: url("../../media/cambiarpass/fondo3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cambiarpass-page main {
  height: calc(100vh - 105px);
}

@media (min-width: 1200px) {
  .cambiarpass-page main {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .cambiarpass-page main .region1 {
    padding: 5% 0% 5% 10%;
  }
}

.cambiarpass-page main .region1 .content-region {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 1200px) {
  .cambiarpass-page main .region1 .content-region {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cambiarpass-page main .region1 .content-region .glassland .content-glassland .cambiarpass-content-glassland {
  padding: calc(20px + 0.5vh) calc(15px + 1vw);
}

.cambiarpass-page main .region1 .content-region .glassland .content-glassland .cambiarpass-content-glassland .inputbtn::-webkit-input-placeholder {
  font-family: "Font Awesome\ 6 pro";
}

.cambiarpass-page main .region1 .content-region .glassland .content-glassland .cambiarpass-content-glassland .inputbtn:-ms-input-placeholder {
  font-family: "Font Awesome\ 6 pro";
}

.cambiarpass-page main .region1 .content-region .glassland .content-glassland .cambiarpass-content-glassland .inputbtn::-ms-input-placeholder {
  font-family: "Font Awesome\ 6 pro";
}

.cambiarpass-page main .region1 .content-region .glassland .content-glassland .cambiarpass-content-glassland .inputbtn::placeholder {
  font-family: "Font Awesome\ 6 pro";
}

@media (max-width: 1200px) {
  .cambiarpass-page main .region1 .content-region .imagenrelleno {
    display: none;
  }
}
/*# sourceMappingURL=cambiarpass.css.map */