.glass-2, .modal-content-avatar, .modal .modal-content, .modal .modal-content-avatar {
  backdrop-filter: blur(10px) saturate(105%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.866);
}

.glass-admin {
  backdrop-filter: blur(300px) saturate(50%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: #a3a8b062;
  border-radius: 12px;
}

.glass-5, .glass-saturate, .card > .container .reverse-card .container-reverse, .card, .misapuntes-page main .region .glassland {
  background: rgba(255, 255, 255, 0.57);
  -webkit-backdrop-filter: blur(13px) saturate(105%);
          backdrop-filter: blur(13px) saturate(105%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.866);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.glass-saturate, .card > .container .reverse-card .container-reverse {
  background: rgba(255, 255, 255, 0.445) !important;
}

.allwh, .card > .container, .card > .container .front-card, .card > .container .front-card .container-front, .card > .container .reverse-card, .card > .container .reverse-card .container-reverse {
  height: 100%;
  width: 100%;
}

.flex, .misapuntes-page main .region .glassland .content-glassland {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/aboutus/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../media/aboutus/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../media/aboutus/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

:root {
  --first-color: #2397ee;
  --second-color: #31fc40;
  --third-color: #ffbf05;
  --fourth-color: #e6235f;
  --orangeD: #ffbf05;
  --greenD: #31fc40;
  --blueD: #2397ee;
  --roseD: #e6235f;
  --purpleL: #9c2bae;
  --roseL: #fc2e76;
  --tiempoAnim: 25s;
  --svgColor1: #9c2bae;
  --svgColor2: #ffffff;
  --svgColor1a: #fc2e76;
  --svgColor2a: #ffffff;
  --svgColor3: #b82055;
  /** light side **/
  --blue-background: #C2E9F6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
  --bgBody: #ffffff;
  --bgBodyD: #2e2e2e;
  --font1: Poppins;
  --white: #ffffff;
  --black: #000000;
  --black-low: #2c2c2c;
  --grey: #eee;
  --letter-grey: #797c7e;
  --font1: Poppins;
}

:root ::-webkit-scrollbar {
  width: 10px;
}

:root ::-webkit-scrollbar-track {
  background: var(--svgColor2);
}

:root ::-webkit-scrollbar-thumb {
  background: var(--svgColor1);
}

a {
  text-decoration: none;
  color: var(--first-color);
}

h1 {
  font-family: var(--font1);
  font-size: calc(48px + 1vw);
  font-weight: bold;
}

h2 {
  font-family: var(--font1);
  font-size: calc(18px + 0.75vw);
  font-weight: 400;
}

h3 {
  font-family: var(--font1);
  font-size: calc(18px + 0.5vw);
  font-weight: bold;
}

h4 {
  font-family: var(--font1);
  font-size: calc(18px + 0.1vw);
  font-weight: bold;
}

.btn-glass {
  background: var(--svgColor1);
  border-radius: calc(25px + 5vw);
  color: var(--white);
  font-size: calc(13px + 0.2vw);
  padding: calc(3px + 0.75vh) calc(10px + 0.9vw);
  cursor: pointer;
}

.btn-glass:hover {
  background: var(--svgColor1a);
}

.btn-glass_b {
  background: var(--svgColor1a);
}

.btn-glass_b:hover {
  background: var(--svgColor1);
}

.btn-glass-grande {
  background: var(--svgColor1);
  padding: calc(7px + 0.75vh) calc(10px + 0.9vw);
  width: 100%;
  float: left;
  border: 0;
  text-decoration: none;
  border-radius: calc(-90px + 5vw);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: var(--white);
  font-size: calc(13px + 0.2vw);
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-glass-grande:hover {
  background: var(--svgColor1a);
}

.btn-glass-grande_b {
  background: var(--svgColor1a);
}

.btn-glass-grande_b:hover {
  background: var(--svgColor1);
}

.btn-glass-negro {
  background: var(--black);
  border-radius: calc(25px + 5vw);
  color: var(--white);
  font-size: calc(13px + 0.2vw);
  padding: calc(3px + 0.75vh) calc(10px + 0.9vw);
  margin-top: 20px;
  cursor: pointer;
}

.btn-glass-negro:hover {
  background: var(--black-low);
}

.btn-glass-rosa {
  background: var(--svgColor1a);
  border-radius: calc(25px + 5vw);
  color: var(--white);
  font-size: calc(13px + 0.2vw);
  padding: calc(3px + 0.75vh) calc(10px + 0.9vw);
  margin-top: 20px;
  cursor: pointer;
}

.btn-glass-rosa:hover {
  background: var(--svgColor3);
}

* {
  font-family: var(--font1);
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--bgBody);
  font-family: var(--font1);
}

.darkmode a,
.darkmode p,
.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4,
.darkmode h5,
.darkmode h6,
.darkmode button {
  color: var(--white);
}

.darkmode p {
  color: var(--white);
}

.darkmode a {
  color: var(--svgColor2);
}

.darkmode h1 {
  color: var(--svgColor1);
  color: var(--white);
}

.darkmode h2 {
  color: var(--svgColor1);
  color: var(--white);
}

.darkmode h3 {
  color: var(--svgColor4);
  color: var(--white);
}

.darkmode h4 {
  color: var(--svgColor2);
  color: var(--white);
}

.darkmode .btn-glass {
  background: var(--svgColor1);
}

.darkmode .btn-glass:hover {
  background: var(--svgColor2);
}

.darkmode .btn-glass-grande {
  background: var(--svgColor1);
}

.darkmode .btn-glass-grande:hover {
  background: var(--svgColor2);
}

.darkmode .super-check input[type=checkbox]:checked ~ label {
  background: var(--svgColor2);
}

.darkmode .owl-carousel .owl-nav .owl-prev span,
.darkmode .owl-carousel .owl-nav .owl-next span {
  color: var(--white);
}

.darkmode .owl-stage-outer a,
.darkmode .owl-stage-outer p,
.darkmode .owl-stage-outer h1,
.darkmode .owl-stage-outer h2,
.darkmode .owl-stage-outer h3,
.darkmode .owl-stage-outer h4,
.darkmode .owl-stage-outer h5,
.darkmode .owl-stage-outer h6,
.darkmode .owl-stage-outer button {
  color: var(--black);
}

.darkmode .owl-stage-outer p {
  color: var(--black);
}

.darkmode .owl-stage-outer a {
  color: var(--svgColor2);
}

.darkmode .owl-stage-outer h1 {
  color: var(--svgColor1);
  color: var(--black);
}

.darkmode .owl-stage-outer h2 {
  color: var(--svgColor1);
  color: var(--black);
}

.darkmode .owl-stage-outer h3 {
  color: var(--svgColor4);
  color: var(--black);
}

.darkmode .owl-stage-outer h4 {
  color: var(--svgColor2);
  color: var(--black);
}

main {
  padding-top: calc(10vh + 50px);
}

@media (max-width: 1200px) {
  main {
    padding-top: calc(30vh - 105px);
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  main {
    padding-top: calc(30vh - 105px);
  }
}

.background {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -10;
}

.background .container-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background .container-bg .coso {
  position: absolute;
}

.background .container-bg .coso0 {
  top: -40px;
  z-index: 10;
}

.background .container-bg .coso1 {
  left: -35vw;
  top: -25vh;
  -webkit-transform: scale(0.38) rotate(338deg);
          transform: scale(0.38) rotate(338deg);
}

@media (max-width: 1200px) {
  .background .container-bg .coso1 {
    left: -58vw !important;
    top: -25vh !important;
  }
}

@media (max-width: 830px) {
  .background .container-bg .coso1 {
    left: -71vw !important;
    top: -23vh !important;
  }
}

@media (max-width: 600px) {
  .background .container-bg .coso1 {
    left: -43vw !important;
    top: -33vh !important;
  }
}

.background .container-bg .coso2 {
  right: -41vw;
  top: 20vh;
  -webkit-transform: scale(0.3) rotate(326deg);
          transform: scale(0.3) rotate(326deg);
}

@media (max-width: 1200px) {
  .background .container-bg .coso2 {
    right: -49vw !important;
    top: 28vh !important;
    -webkit-transform: scale(0.4) rotate(326deg) !important;
            transform: scale(0.4) rotate(326deg) !important;
  }
}

@media (max-width: 830px) {
  .background .container-bg .coso2 {
    right: -78vw !important;
  }
}

@media (max-width: 600px) {
  .background .container-bg .coso2 {
    right: -69vw !important;
  }
}

.background .container-bg .coso3 {
  left: 7vw;
  bottom: -43vh;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@media (max-width: 1200px) {
  .background .container-bg .coso3 {
    left: -30vw !important;
    bottom: -37vh !important;
  }
}

@media (max-width: 830px) {
  .background .container-bg .coso3 {
    left: -46vw !important;
    top: 39vh !important;
  }
}

@media (max-width: 600px) {
  .background .container-bg .coso3 {
    left: -19vw !important;
  }
}

.background .container-bg .coso4 {
  right: 37vw;
  top: -24vh;
  -webkit-transform: scale(0.2) rotate(30deg);
          transform: scale(0.2) rotate(30deg);
}

@media (max-width: 1200px) {
  .background .container-bg .coso4 {
    right: 13vw !important;
    top: -24vh !important;
  }
}

@media (max-width: 830px) {
  .background .container-bg .coso4 {
    display: none;
  }
}

@media (max-width: 600px) {
  .background .container-bg .coso4 {
    display: none;
  }
}

.background .container-bg .coso5 {
  right: -1vw;
  top: -4vh;
  -webkit-transform: scale(0.5) rotate(30deg);
          transform: scale(0.5) rotate(30deg);
}

@media (max-width: 1200px) {
  .background .container-bg .coso5 {
    right: -1vw !important;
    top: 15vh !important;
  }
}

@media (max-width: 830px) {
  .background .container-bg .coso5 {
    right: -6vw !important;
    top: 17vh !important;
    -webkit-transform: scale(0.45) rotate(30deg);
            transform: scale(0.45) rotate(30deg);
  }
}

@media (max-width: 600px) {
  .background .container-bg .coso5 {
    display: none;
  }
}

.background .container-bg .coso6 {
  left: 29vw;
  top: 13vh;
  -webkit-transform: scale(1) rotate(296deg);
          transform: scale(1) rotate(296deg);
}

@media (max-width: 1200px) {
  .background .container-bg .coso6 {
    top: 7vh !important;
    left: 33vw !important;
  }
}

@media (max-width: 830px) {
  .background .container-bg .coso6 {
    display: none;
  }
}

@media (max-width: 600px) {
  .background .container-bg .coso6 {
    display: none;
  }
}

.background .container-bg .coso7 {
  right: -17vw;
  top: 10vh;
  -webkit-transform: scale(0.7) rotate(351deg);
          transform: scale(0.7) rotate(351deg);
}

@media (max-width: 1200px) {
  .background .container-bg .coso7 {
    right: -17vw !important;
    top: 10vh !important;
  }
}

@media (max-width: 830px) {
  .background .container-bg .coso7 {
    right: -23vw !important;
  }
}

@media (max-width: 600px) {
  .background .container-bg .coso7 {
    right: 7vw !important;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.menu .background-mn {
  min-width: 100vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -10;
}

.menu .background-mn .container-bg {
  position: relative;
  width: 100vw;
}

.menu .background-mn .container-bg .coso {
  position: absolute;
}

.menu .background-mn .container-bg .coso0 {
  top: -40px;
  z-index: 10;
}

.menu > .container > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu > .container > .row .widget-logo {
  width: 20%;
}

@media (max-width: 1200px) {
  .menu > .container > .row .widget-logo {
    width: 40%;
  }
}

.menu > .container > .row .widget-logo > .row .filter img {
  max-height: 100px;
}

.menu > .container > .row .widget-menu {
  width: 65%;
}

@media (max-width: 1200px) {
  .menu > .container > .row .widget-menu {
    width: 60%;
  }
}

.menu > .container > .row .widget-menu > .row nav {
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

@media (max-width: 1200px) {
  .menu > .container > .row .widget-menu > .row nav {
    width: 0px;
    height: 0px;
    opacity: 0;
    padding: 0;
  }
}

.menu > .container > .row .widget-menu > .row nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .menu > .container > .row .widget-menu > .row nav ul {
    width: 0px;
    height: 0px;
    opacity: 0;
    padding: 0;
  }
}

.menu > .container > .row .widget-menu > .row nav ul li {
  padding: 10px 15px;
}

@media (max-width: 1200px) {
  .menu > .container > .row .widget-menu > .row nav ul li {
    width: 0px;
    height: 0px;
    opacity: 0;
    padding: 0;
  }
}

.menu > .container > .row .widget-menu > .row nav ul li a {
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 1200px) {
  .menu > .container > .row .widget-menu > .row nav ul li a {
    width: 0px;
    height: 0px;
    opacity: 0;
    padding: 0;
  }
}

.menu > .container > .row .widget-menu > .row nav ul > .widget-toggle {
  width: 100%;
}

.menu > .container > .row .widget-menu > .row .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1200px) {
  .menu > .container > .row .widget-menu > .row .burger {
    display: none;
  }
}

.menu > .container > .row .widget-menu > .row .burger .menu-burg {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.menu > .container > .row .widget-menu > .row .burger .line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu > .container > .row .widget-menu > .row .burger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu > .container > .row .widget-menu > .row .burger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.menu > .container > .row .widget-menu > .row .burger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu > .container > .row .widget-menu > .row .burger .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu > .container > .row .widget-menu > .row .burger .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.menu > .container > .row .widget-menu > .row .burger .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu > .container > .row .widget-menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: var(--svgColor1);
}

.menu > .container > .row .widget-menu.open > .row nav {
  width: inherit;
  height: inherit;
  opacity: 1;
}

.menu > .container > .row .widget-menu.open > .row nav ul {
  width: inherit;
  height: inherit;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.menu > .container > .row .widget-menu.open > .row nav ul li {
  width: inherit;
  height: inherit;
  opacity: 1;
  padding: 10px 15px;
}

.menu > .container > .row .widget-menu.open > .row nav ul li a {
  width: inherit;
  height: inherit;
  opacity: 1;
}

.menu > .container > .row .widget-menu.open > .row .burger {
  position: absolute;
  top: 0;
  right: 0;
}

.menu > .container > .row > .widget-toggle {
  width: 15%;
  margin-top: calc(-10px + -1vh);
}

@media (max-width: 1200px) {
  .menu > .container > .row > .widget-toggle {
    width: 60%;
  }
}

.input-toggle {
  display: none;
}

.input-toggle:checked {
  /** This will all flip from sun to moon **/
  /** Change the label color **/
}

.input-toggle:checked + .toggle-label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}

.input-toggle:checked + .toggle-label:before {
  background: var(--white);
  border-color: var(--gray-border);
  -webkit-animation-name: switch;
          animation-name: switch;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.input-toggle:checked + .toggle-label:after {
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
  opacity: 1;
}

.input-toggle:checked + .toggle-label .toggle-label-background {
  left: 60px;
  width: 5px;
}

.input-toggle:checked + .toggle-label .toggle-label-background:before {
  width: 5px;
  height: 5px;
  top: -25px;
}

.input-toggle:checked + .toggle-label .toggle-label-background:after {
  width: 5px;
  height: 5px;
  left: -30px;
  top: 20px;
}

.toggle-label {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  /** Placeholder element, starting at blue **/
  width: 200px;
  height: 100px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 5px solid var(--blue-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}

.toggle-label:before {
  -webkit-animation-name: reverse;
          animation-name: reverse;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
  content: "";
  width: 82px;
  height: 82px;
  border: 5px solid var(--yellow-border);
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}

.toggle-label:after {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  -webkit-box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
          box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  left: 143px;
  top: 23px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

.toggle-label-background {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 135px;
  top: 45px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.toggle-label-background:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -20px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.toggle-label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -10px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

@-webkit-keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}

@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}

@-webkit-keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 4px;
  }
}

@keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 4px;
  }
}

@-webkit-keyframes aniGrad {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

@keyframes aniGrad {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

.modal-content-avatar {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  padding-top: calc(20px + 2vh);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content, .modal .modal-content-avatar {
  margin: auto;
  border: 1px solid #888;
  width: 40%;
  height: 89%;
}

.modal .modal-content .avatar-content, .modal .modal-content-avatar .avatar-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.modal .modal-content .contenido-modal, .modal .modal-content-avatar .contenido-modal {
  width: 100%;
  height: 100%;
}

.modal .modal-content .contenido-modal .formmodal, .modal .modal-content-avatar .contenido-modal .formmodal {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.modal .modal-content .contenido-modal .formmodal input, .modal .modal-content-avatar .contenido-modal .formmodal input {
  width: 40%;
  height: 50px;
  margin: 10px 0px;
  font-size: 18px;
  outline: none;
  text-align: center;
}

.card {
  color: #555;
  padding: 15px;
  height: 300px;
  margin: 15px;
}

.card:hover > .container .front-card {
  display: none;
}

.card:hover > .container .reverse-card {
  display: block;
}

.card > .container .front-card .container-front .img-apuntes {
  width: 90%;
  overflow: hidden;
  height: 60%;
  margin: auto;
  border-radius: 8px 8px 0px 0px;
}

.card > .container .front-card .container-front .img-apuntes .container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card > .container .front-card .container-front .header-apuntes {
  height: 40%;
}

.card > .container .front-card .container-front .header-apuntes .id-content {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 15px 15px 15px;
  color: var(--black);
}

.card > .container .reverse-card {
  display: none;
}

.card > .container .reverse-card .container-reverse {
  border-radius: 0;
}

.card > .container .reverse-card .container-reverse > .top {
  height: 35%;
}

.card > .container .reverse-card .container-reverse > .top .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.card > .container .reverse-card .container-reverse > .top .user-info .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.card > .container .reverse-card .container-reverse > .top .user-info .container-info .avatar-user {
  font-size: 50px;
}

.card > .container .reverse-card .container-reverse > .top .user-info .container-info .avatar-user .filter img {
  max-height: 110px;
}

.card > .container .reverse-card .container-reverse > .top .user-info .container-info .container-text {
  padding-left: 5px;
}

.card > .container .reverse-card .container-reverse > .top .user-info .date-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  justify-items: flex-end;
  width: 30%;
}

.card > .container .reverse-card .container-reverse > .top .user-info .date-info .date {
  font-size: 13px;
}

.card > .container .reverse-card .container-reverse .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65%;
}

.card > .container .reverse-card .container-reverse .bottom .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card > .container .reverse-card .container-reverse .bottom .buttons-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card > .container .reverse-card .container-reverse .bottom .buttons-actions button {
  background: transparent;
}

.owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.owl-carousel .owl-nav .owl-next span,
.owl-carousel .owl-nav .owl-prev span {
  font-size: 100px;
}

.swal2-container .swal2-html-container .swal-estudios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swal2-container .swal2-html-container .swal-estudios input {
  width: inherit;
  margin: 0px 10px 0px 0px;
}

.inputbtn {
  width: 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 11px 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 20px;
}

.inputbtn-file {
  width: 290px;
  color: black;
  background-color: #fafafa;
  margin-bottom: 20px;
  margin-top: 2px;
  padding: 6px 30px 10px 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #d8d7d7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inputbtn-selec {
  width: 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin-bottom: 20px;
  cursor: pointer;
}

.inputbtn-selec:hover {
  border: 1px solid #2d2d2d;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  cursor: pointer;
  background-color: #f0f0f0;
}

.padding-subirapuntes {
  margin: 20px;
}

@media (min-width: 800px) {
  .padding-subirapuntes {
    float: left;
  }
}

.padding-subirapuntes-submit {
  text-align: center;
}

.title-text {
  padding-left: 5vw;
}

.table th,
.table td,
.table tr {
  border-top: none !important;
  text-align: center;
  vertical-align: middle;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}

@media screen and (max-width: 500px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
    display: block;
  }
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-danger:hover {
  background-color: #ad2a38;
  border-color: #000000;
}

@media (min-width: 1200px) {
  .misapuntes-page {
    height: 100%;
  }
}

.misapuntes-page main .region1 {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.misapuntes-page main .region1 .content-region .glassland .content-glassland .misapuntes-content-glassland {
  width: 90vw;
  padding: 2%;
}

.misapuntes-page main .region2 {
  margin-bottom: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.misapuntes-page main .region2 .content-region .glassland .content-glassland {
  width: 100%;
}

.misapuntes-page main .region2 .content-region .glassland .content-glassland .misapuntes-content-glassland {
  width: 90vw;
}

@media (max-width: 1200px) {
  main {
    height: 100%;
  }
}
/*# sourceMappingURL=misapuntes.css.map */