@import '../base/base.scss';
.inputbtn {
    width: 290px;
    box-sizing: border-box;
    padding: 10px 30px 11px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 20px;
}

.inputbtn-file {
    width: 290px;
    color: black;
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
    margin-top: 2px;
    padding: 6px 30px 10px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid rgb(216, 215, 215);
    box-sizing: border-box;
}

.inputbtn-selec {
    width: 290px;
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
        border: 1px solid rgb(45, 45, 45);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        cursor: pointer;
        background-color: rgb(240, 240, 240);
    }
}

.padding-subirapuntes {
    margin: 20px;
    @media (min-width: 800px) {
        float: left;
    }
}

.padding-subirapuntes-submit {
    text-align: center;
}

.menu {
    //text-align: center;
}

.title-text {
    padding-left: 5vw;
}

.table th,
.table td,
.table tr {
    border-top: none !important;
    text-align: center;
    vertical-align: middle;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

/////////TABLA PARA QUE SE COMBIERTA EN DESLIZABLE/////////
@media screen and (max-width: 500px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        //border: 1px solid #ddd;
    }
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
        display: block;
        //-webkit-overflow-scrolling: touch;
    }
}

//////////////////////////////////////////////////////////
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    &:hover {
        background-color: #ad2a38;
        border-color: #000000;
    }
}

.misapuntes-page {
    @media(min-width: $grid-float-breakpoint) {
        height: 100%;
    }
    main {
        //padding-top: calc(100px + 3vh) !important;
        .region {
            .glassland {
                @extend .glass-5;
                .content-glassland {
                    @extend .flex;
                }
            }
        }
        .region1 {
            margin-bottom: 60px;
            @include flex-cv($d: column);
            .content-region {
                .glassland {
                    .content-glassland {
                        //@include flex-cv($d: column);
                        .misapuntes-content-glassland {
                            width: 90vw;
                            padding: 2%;
                        }
                    }
                }
            }
        }
        .region2 {
            //margin-bottom: 100px;
            margin-bottom: 12%;
            @include flex-cv($d: column);
            .content-region {
                .glassland {
                    .content-glassland {
                        //@include flex-cv($d: column);
                        width: 100%;
                        .misapuntes-content-glassland {
                            width: 90vw;
                        }
                    }
                }
            }
        }
    }
}

//////////////////////////////////RESPONISVE//////////////////////////
@media (max-width:1200px) {
    main {
        height: 100%;
    }
}

//////////////////////////////
@media (max-width:600px) {}

/////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////
///////////////