@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../media/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

main section .title-center {
  margin-bottom: 10px;
  margin-top: 100px;
}

main section .title-left {
  font-size: 2rem;
  margin-top: 40px;
  color: #666;
}

main section > * {
  max-width: 100%;
  text-decoration: none;
}

section .title,
section .text {
  width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  display: block;
  text-align: left;
}

section .title {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -.07rem;
}

section .text {
  font-weight: 500;
}

ol {
  width: 1200px;
  display: block;
  list-style-type: decimal;
  margin: auto;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.ul-box {
  width: 1200px;
  display: block;
  list-style-type: decimal;
  margin: auto;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.browser-default {
  width: 1200px;
  display: block;
  margin: auto;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

:root {
  --first-color: #19c673;
  --second-color: #05a357;
  --third-color: #f6f0ea;
  --fourth-color: #7319c6;
  --fifth-color: #c67319;
  --sixth-color: #19c3c6;
  --seventh-color: #19c61d;
  --eightth-color: #c6196c;
  --white: #ffffff;
  --black: #000000;
  --grey: #eee;
  --letter-grey: #797c7e;
  --font1: Poppins;
}

html {
  min-height: 100%;
  position: relative;
}

* {
  font-family: var(--font1);
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  font-family: var(--font1);
  font-size: calc(48px + 1vw);
  font-weight: bold;
}

h2 {
  font-family: var(--font1);
  font-size: calc(18px + 1vw);
  font-weight: 600;
}

h3 {
  font-family: var(--font1);
  font-size: calc(18px + 0.5vw);
  font-weight: bold;
}

h4 {
  font-family: var(--font1);
  font-size: calc(18px + 0.1vw);
  font-weight: bold;
}
/*# sourceMappingURL=terminosyprivacidad.css.map */