main section .title-center {
    margin-bottom: 10px;
    margin-top: 100px;
}

main section .title-left {
    font-size: 2rem;
    margin-top: 40px;
    color: #666;
}

main section>* {
    max-width: 100%;
    text-decoration: none;
}

section .title,
section .text {
    width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    display: block;
    text-align: left;
}

section .title {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.07rem;
}

section .text {
    font-weight: 500;
}

ol {
    width: 1200px;
    display: block;
    list-style-type: decimal;
    margin: auto;
    padding-inline-start: 40px;
}

.ul-box {
    width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    display: block;
    text-align: left;
}

.browser-default {
    width: 75vw;
    display: block;
    margin: auto;
    padding-inline-start: 40px;
}

///////////////////////////////////////////////////
/////configuración de la página
//////////////////////////////////////////////////
html {
    min-height: 100%;
    position: relative;
}


/* Media Queries */

@media (max-width: 1200px) {
    main * {
        max-width: 100vw !important;
    }
    main {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .ul-box {
        width: 90%;
    }
    .browser-default {
        width: 75vw;
        margin: inherit;
    }
    section .title {
        font-size: 2rem;
        width: 90vw;
        margin: 0 5vw;
        text-align: center;
        letter-spacing: -.11rem;
    }
    main section .text,
    main section .ul-box {
        width: 90vw;
        //margin: 0 5vw;
    }
    main section .title-left {
        margin-top: 40px;
        font-size: 1.5rem;
    }
}